:root{

    --primary-color: #21618C;
}
.bg-primary {

background-color: var(--primary-color);

}


body{

    font-family: 'Spectral', serif;
    color: #21618C;
    background-color: #17A589;
    color: #ECF0F1;
    
}

.inicio {

    background-color: #17A589;
}

.bg-desta {
    /* background-color: #21618C; */
    background: rgb(33,97,140);
background: linear-gradient(80deg, rgba(33,97,140,1) 0%, rgba(11,62,97,0.8743872549019608) 100%, rgba(0,212,255,1) 100%);
    

}

.img-size {
max-height: 25%;
max-width: 100%;


}

.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}

.mw {

    max-width: 50REM;
}

.titulo-izq {

    text-align: left;
    
}

.sombra {

    box-shadow: 10px 10px 10px rgba(11,62,97,0.8743872549019608);
}

/* .card {

    min-height: 100%;
} */

.card-img-top {

height: 13rem;

}

